body{
    overflow-x: hidden;
}

.allWrapper{
    background-color: #F39494;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    max-height: 1200px;
    height: 800px;
    max-width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}


.leftbar{
    background-color: #FEFEFE;
    padding: 20px;
    width: 5%;
    height: 80%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;

}

.leftbar > ul li.firstLi{
    height: 50%;
    padding-top: 0;
    background: none;
}

.leftbar ul{
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.leftbar ul li{
    list-style-type: none;
    background: none;
    padding: 20px;
}

.leftbar ul li img{
    background: none;
}

.meetingspace{
    border-radius: 20px;
    width: 60%;
    border: 2px solid red;
    background: none;
    height: 80%;
    margin: 20px;
    margin-bottom: 90px;
}

.meetingspace h1{
    background: none;
    text-align: center;
    padding: 20px;
}

.rightbar{
    height: 80%;
    width: 35%;
    text-align: center;
    margin-bottom: 80px;
    border-radius: 20px;
}

.rightbar h1{
    margin: 10px;
    padding-top: 10px;
    font-weight: bold;
}

