body{
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homenav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.lefthomenav {
    flex: 1;
}

.lefthomenav h3 {
    color: #333333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-left: 50px;
}

.righthomenav {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.righthomenav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.righthomenav li {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

.backg {
    position: relative;
    text-align: center;
    color: black;
    max-width: 1500px;
    max-height: 500px;
    margin-bottom: 50px;
}

.background {
    width: 100%;
    height: 600px;
}

.textcontainer {
    position: absolute;
    top: 50%;
    left: 5%;
    background: none;
    width: 30%;
}

.textcontainer h2 {
    background: none;
    font-size: 3rem;
}

.imagecontainer {
    position: absolute;
    top: 10%;
    right: 0;
    background: none;
}

.imagecontainer2 {
    position: absolute;
    top: 20%;
    right: 0;
    background: none;
}

.imagecontainer3 {
    position: absolute;
    top: 30%;
    right: 0;
    background: none;
}

.imagecontainer4 {
    position: absolute;
    top: 40%;
    right: 0;
    background: none;
}

.foreground, .foreground2, .foreground3, .foreground4 {
    background: none;
    width: 85%;
    transform: rotate(-33deg);
}