* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overallProfile {
    background-color: #F39494;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    max-height: 1000px;
    height: 800px;
    max-width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.leftside {
    padding-top: 10px;
    width: 30%;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}

.avatar {
    background: none;
    padding: 20px;
}

.avatar img {
    background: none;
    text-align: center;
    width: 90px;
}

.profileName {
    background: none;
    font-weight: bold;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

.avatar p {
    background: none;
}

.userDetails {
    margin-top: 10px;
    padding: 5px;
    line-height: 40px;
    background: none;
}

.italic{
    color: blue;
    background: none;
    font-weight: bold;
}

.bold {
    background: none;
    font-weight: bold;
    font-size: 14;
}

.logOutButton {
    margin-top: 50%;
    text-align: center;
}

.logOutButton button, .list button {
    background-color: #F39494;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 3px solid blanchedalmond;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.logOutButton button:hover, .list button:hover{
    border: 2px solid black;
}

/* Right side */


.middleside {
    padding-top: 10px;
    width: 30%;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}


.activities {
    background: none;
}

.profileTxt {
    background: none;
}

.profileTxt h3 {
    background: none;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}

.list{
    background: none;
    padding: 20px;
}

.list > .list1, .list2{
    background: none;
    padding: 10px;
}

.list2 p{
    margin-top: 40px;
}

.number{
    color: blue;
    background: none;
    position: absolute;
    left: 52%;
    cursor: pointer;
}


/*Upcoming Events*/
.rightside {
    padding-top: 10px;
    width: 50%;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 20px;
}

.rightsideWrapper{
    border-radius: 10px;
    overflow: hidden;
    background: none;
}

.upcoming{
    background: none;
    padding: 10px;
    position: relative;
}

.upcoming h1{
    background: none;
    text-align: center;
    padding-bottom: 8px;
}

.upcoTime1{
    background: none;
    position: absolute;
    right: 5%;
    top: 10%;
    font-size: 14px;
    font-weight: bold;
}

.upcoTime2{
    background: none;
    position: absolute;
    right: 5%;
    top: 55%;
    font-size: 14px;
    font-weight: bold;
}

.postUpco{
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 25px;
    line-height: 20px;
}

.postUpco h2{
    background: none;
    padding-bottom: 20px;
}

.postUpco p{
    margin-top: 5px;
    background: none;
}

.statusDate{
    text-align: left;
    margin-top: 20px;
    font-weight: bolder;
    background: none;
}

.statusDate > p{
    line-height: 10px;

}

.upcoIcon{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background: white;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.upcoIcon > img{
    background: none;
    cursor: pointer;
    margin-left: 5px; 
    width: 20px; 
}

.upcoIcon > img:hover{
    background-color: #F39494;
    border-radius: 10px;
}